/* ---------------------------------------------------------------------
 hList
--------------------------------------------------------------------- */

h1 {
    font-family: "Abril Fatface", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
}

h2 {
}

p {
    
}

a { 
    text-decoration: none;
    color: red;
}

.text {
    min-height: 150px;
    margin: 20px;
    float: left;
}

.band {
    background-color: #d5d5d5;
}