/* ---------------------------------------------------------------------
Navigation
--------------------------------------------------------------------- */

.navbar-link {
    float: right;
    
    li {
        margin: 10px 20px;
        float: left;
    }
}