/*00-helper*/
/* ---------------------------------------------------------------------
Fonts
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
Size
--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
--------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
  overflow-y: scroll; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
--------------------------------------------------------------------- */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
--------------------------------------------------------------------- */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*01-vendor*/
/*02-base*/
/* ---------------------------------------------------------------------
 hList
--------------------------------------------------------------------- */
h1 {
  font-family: "Abril Fatface", cursive, cursive;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400; }

h2 {
  font-family: "Abril Fatface", cursive, cursive;
  font-size: 1.375rem;
  font-weight: 600; }

h3 {
  font-size: 1.125rem;
  font-weight: 300; }

p {
  font-family: "PT Sans", sans-serif, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8rem; }

a {
  text-decoration: none; }

/* ---------------------------------------------------------------------
Navigation
--------------------------------------------------------------------- */
.navbar-link {
  float: right; }
  .navbar-link li {
    margin: 0 20px;
    float: left; }

/*03-layout*/
/* ---------------------------------------------------------------------
Grid
--------------------------------------------------------------------- */
.grid {
  box-sizing: border-box;
  border: 1px solid red; }
  .grid::after {
    display: table;
    content: "";
    clear: both; }
  .grid__1 {
    width: 8.33333%;
    float: left;
    padding: 20px; }
  .grid__2 {
    width: 16.66667%;
    float: left;
    padding: 20px; }
  .grid__3 {
    width: 25%;
    float: left;
    padding: 20px; }
  .grid__4 {
    width: 33.33333%;
    float: left;
    padding: 20px; }
  .grid__5 {
    width: 41.66667%;
    float: left;
    padding: 20px; }
  .grid__6 {
    width: 50%;
    float: left;
    padding: 20px; }
  .grid__7 {
    width: 58.33333%;
    float: left;
    padding: 20px; }
  .grid__8 {
    width: 66.66667%;
    float: left;
    padding: 20px; }
  .grid__9 {
    width: 75%;
    float: left;
    padding: 20px; }
  .grid__10 {
    width: 83.33333%;
    float: left;
    padding: 20px; }
  .grid__11 {
    width: 91.66667%;
    float: left;
    padding: 20px; }
  .grid__12 {
    width: 100%;
    float: left;
    padding: 20px; }
  @media (min-width: 320px small) {
    .grid__1--small {
      width: 8.33333%;
      float: left;
      padding: 20px; }
    .grid__2--small {
      width: 16.66667%;
      float: left;
      padding: 20px; }
    .grid__3--small {
      width: 25%;
      float: left;
      padding: 20px; }
    .grid__4--small {
      width: 33.33333%;
      float: left;
      padding: 20px; }
    .grid__5--small {
      width: 41.66667%;
      float: left;
      padding: 20px; }
    .grid__6--small {
      width: 50%;
      float: left;
      padding: 20px; }
    .grid__7--small {
      width: 58.33333%;
      float: left;
      padding: 20px; }
    .grid__8--small {
      width: 66.66667%;
      float: left;
      padding: 20px; }
    .grid__9--small {
      width: 75%;
      float: left;
      padding: 20px; }
    .grid__10--small {
      width: 83.33333%;
      float: left;
      padding: 20px; }
    .grid__11--small {
      width: 91.66667%;
      float: left;
      padding: 20px; }
    .grid__12--small {
      width: 100%;
      float: left;
      padding: 20px; } }
  @media (min-width: 920px large) {
    .grid__1--large {
      width: 8.33333%;
      float: left;
      padding: 20px; }
    .grid__2--large {
      width: 16.66667%;
      float: left;
      padding: 20px; }
    .grid__3--large {
      width: 25%;
      float: left;
      padding: 20px; }
    .grid__4--large {
      width: 33.33333%;
      float: left;
      padding: 20px; }
    .grid__5--large {
      width: 41.66667%;
      float: left;
      padding: 20px; }
    .grid__6--large {
      width: 50%;
      float: left;
      padding: 20px; }
    .grid__7--large {
      width: 58.33333%;
      float: left;
      padding: 20px; }
    .grid__8--large {
      width: 66.66667%;
      float: left;
      padding: 20px; }
    .grid__9--large {
      width: 75%;
      float: left;
      padding: 20px; }
    .grid__10--large {
      width: 83.33333%;
      float: left;
      padding: 20px; }
    .grid__11--large {
      width: 91.66667%;
      float: left;
      padding: 20px; }
    .grid__12--large {
      width: 100%;
      float: left;
      padding: 20px; } }

/* ---------------------------------------------------------------------
Navigation Bar
--------------------------------------------------------------------- */
@-ms-viewport {
  width: device-width; }

/*04-modules*/
/* ---------------------------------------------------------------------
Sections
--------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif, sans-serif;
  color: #36454F; }

nav {
  padding: 20px; }

section {
  padding-bottom: 80px;
  background-color: yellow; }

.hero {
  height: 350px;
  background: #4f1c3c; }

.footer {
  background-color: #4f1c3c; }

/* ---------------------------------------------------------------------
Email Sign-up
--------------------------------------------------------------------- */
#mc_embed_signup {
  clear: left;
  font-family: "PT Sans", sans-serif; }

/*05-states*/
