/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */

//light
$dusty: #d7d0c6;

//med
$blue: #a9c2bf;
$heather: #a3919f;

//dark
$wine: #4f1c3c;