/* ---------------------------------------------------------------------
Fonts
--------------------------------------------------------------------- */
$base-font-family: "PT Sans", sans-serif;
$base-heading-family: "Abril Fatface", cursive;
$base-font-size: 14px;

/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
//dark teal
$background-color: #00527a;
//cyan blue
$brand-blue: #0084d9;

/* ---------------------------------------------------------------------
Size
--------------------------------------------------------------------- */

$gutter-width: 4px;