/* ---------------------------------------------------------------------
Size
--------------------------------------------------------------------- */

$gutter: 20px;

$breakpoints: (
  medium: 670px
);