/* ---------------------------------------------------------------------
Size
--------------------------------------------------------------------- */

$gutter: 20px;

$breakpoints: (
  //min-width
  small: 320px,
  large: 768px
);