/* ---------------------------------------------------------------------
Size
--------------------------------------------------------------------- */

$gutter: 20px;

$breakpoints: (
  small: 500px,  
  medium: 670px,
  large: 1250px
);