/* ---------------------------------------------------------------------
Fonts
--------------------------------------------------------------------- */

$base-font-family: "PT Sans", sans-serif;
$base-heading-family: "Abril Fatface", cursive;
$base-font-size: 14px;
$script: 'Yesteryear', cursive;