/* ---------------------------------------------------------------------
Sections
--------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family, sans-serif;
  color: $charcoal;
}

nav {
  padding: $gutter;
}

section {
  padding: 5% 10% 5% 10%;
}

.button {
  background-color: $wine;
  color: $heather;
  text-shadow: $charcoal 1px 0 10px;
}

.hero {
  margin-top: -25%;
  margin-right: 2%;

  @media (min-width: map-get($breakpoints, large)) {
    font-size: 13rem;
    margin-right: 10%;
  }

  @media (max-width: map-get($breakpoints, medium)) {
    display: none;
  }

  @media (max-width: map-get($breakpoints, small)) {
    margin: 0;
    font-size: 3.2rem;
    float: left;
  }
}

.section__caption {
  margin-top: -15px;
  color: $heather;
}

.section__caption--inverse {
  color: $wine;
}

.mailing-list {
  background-color: $heather;
  padding-top: 5%;
  padding-bottom: 8%;
  margin-top: 5%;
}

.footer {
  background-color: $wine;
  color: #fff;
  padding: 2% 10%;
}