/* ---------------------------------------------------------------------
Navigation Bar
--------------------------------------------------------------------- */
nav {

}

body {
    background: #D5D5D5;
}

.nav__primary {
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 38px;
    border-color: #c1bfbf #fefefe;
}

