/* ---------------------------------------------------------------------
 hList
--------------------------------------------------------------------- */

h1 {
    font-family: $script;
    font-size: 7rem;
    float: right;
    color: $heather;
    text-shadow: 2px 2px $wine;
}

h2 {
    font-family: $script;
    font-size: 4.8rem;
    font-weight: 600;
}

h3 {
    color: $wine;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    padding-bottom: .75rem;
}

p {
    font-family: sans-serif;
    font-size: .8rem;
    line-height: 1.6rem;
    padding-bottom: .75rem;
}

a { 
    text-decoration: none;
}