/* ---------------------------------------------------------------------
Grid
--------------------------------------------------------------------- */

.grid {
  box-sizing: border-box;

  //clearfix
  &::after {
    display: table;
    content: "";
    clear: both;
  }

  //columns
  //grid__#
 @for $number from 1 through 12 {
    &__#{$number} {
      width: percentage($number/12);
      float: left;
      padding: $gutter;
    }
  }

  //media queries
  //"grid__12--size"
  @each $name, $size in $breakpoints {
    @media (min-width: $size$name) {
      @for $number from 1 through 12 {
        &__#{$number}--#{$name} {
          width: percentage($number/12);
          float: left;
          padding: $gutter;
        }
      }
    }
  }
}