/* ---------------------------------------------------------------------
Grid
--------------------------------------------------------------------- */
.l--constrain {
  position: relative;
  margin: 0 auto;
  background-color: #d5d5d5;
  
  @media (max-width: map-get($breakpoints, large)) {
    width: 465px;
    height: 750px;
  }
}

.grid {
  margin: ($gutter/2);

  //clearfix
  &::after,
  &::before {
    display: table;
    content: "";
  }
  
  &::after {
    clear: both;
  }
  
  //root
  @at-root {
    [class^="grid__"]{
      float: left;
      padding: 0 (gutter-width/2);
      margin: ($gutter/2) 0;
      box-sizing: border-box;
    }
  }
  
  &--reverse > [class^="grid__"]{
    float: right;
  }
  
  /*grid*/
  //quantity of columns
  @for $number from 1 through 12 {
    &__#{$number} {
      width: percentage($number/12);
    }
  }
  
  /*media*/
  //quantity of columns
  @each $name, $size in $breakpoints {
    @media (min-width: $size$name) {
      @for $number from 1 through 12 {
        &__#{$number}--#{$name} {
          width: percentage($number/12);
          background-color: red;
        }
      }
    }
  }
  
  @for $number from 1 through 11 {
    &__offset-#{$number} {
      margin-left: percentage($number/12);
    }
  }

  @each $name, $size in $breakpoints {
    @media (min-width: $size){
      @for $number from 1 through 11 {
        &__offset-#{$number}--#{$name} {
          margin-left:percentage($number/12);
        }
      }
    }
  }
}