/* ---------------------------------------------------------------------
Grid
--------------------------------------------------------------------- */

.grid {
  box-sizing: border-box;

  //clearfix
  &::after {
    display: table;
    content: "";
    clear: both;
  }

  //columns
  //grid__#
 @for $number from 1 through 12 {
    &__#{$number} {
      width: percentage($number/12);
      float: left;
      padding: $gutter;
    }

    @media (max-width: map-get($breakpoints, medium)) {
      width: percentage(12/12);
      float: left;
      padding: $gutter;
      margin: auto 0;
    }
  }

}